.container {
    background-color: rgb(168, 168, 252);
    margin: 0 auto;
    max-width: FULL;
    font-family: Comic Sans MS;
    font-size: 28px;
    padding: 40px 50px;
  }

.heading {
    color:chocolate;
  }
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
.nav-link-item {
    padding-right: 2rem;
  }
  
.nav-link-text {
    color: rgb(255, 255, 255);
  }

.site-title {
  font-size: 3rem;
  color:rgb(255, 255, 255);
  font-weight: 600;
}

